*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(IMG/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    }

.flex-container{
    width: 100%;
    margin: auto;
    /*Flex*/
    display: flex;
    flex-flow: wrap row;
}

header{
    background-color: black;
    width: 100%;
    /*height: 100px;*/
    /*Flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

header .logo{
    padding: 10px;
    flex: 1 1 10%;
}

header h1{
    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    padding: 5px;
    text-align: center;
    padding: 5px;
    flex: 1 1 70%;
}


/*<nav class = "nav-menu">*/
.nav-menu{
    width: 100%;
    /*Flex*/
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

/*<a href="#" class = "nav-link">*/
.nav-link{
    background-color:darkmagenta;
    color: snow;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-align:center;
    /*Flex*/
    flex-grow: 1;
}

.nav-link:hover{
    background-color:plum;
    color: black;
    text-transform:uppercase;
    transition: 0.5s;
}

/*arreglo listas Gis*/
.nav-sort-by{
    background-color:plum;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding-right: 7px;
    display:flex;
    flex-flow: column wrap;
}

.nav-sort-by a{
    background-color: darkmagenta;
    color: whitesmoke;
    text-decoration: none;
    padding: 1px 5px;
    display: block;
    text-align:center;
    border-radius: 5px;
    margin: 5px 10px;
    width: 90%;
}

.nav-sort-by a:hover{
    background-color:black;
    color:whitesmoke;
    transition: 0.5s;
}

/* .nav-sort */
.nav-sort{
    display: none;
    width: 80%;
    margin-left: 15px;
    list-style: none;
}

.nav-sort-by:hover > ul{
    display: block;
    transition: 0.5s;
}



main{
    width: 100%;
    /*Flex*/
    display: flex;
}

/*<section class="posters">*/
.posters{
    padding: 5px 10px;
    margin-bottom: 50px;
    /*Flex*/
    display: flex;
    flex: 1 1 80%;
    justify-content: space-around;
    flex-flow: row wrap;
}

.posters p{
    text-align: center;
    font-weight: bold;
}

aside{
    background-color: rgb(31, 46, 73);
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 10px;
    /*flex*/
    flex: 1 1 20%;
}

h3{
    text-align: center;
    background-color:darkmagenta;
    border-radius: 5px;
    padding: 1px 5px;
}

aside p{
    text-align: justify;
}

aside p a{
    text-decoration: none;
    color:lightpink;
}

aside p a:hover{
    color:deeppink;
}



footer{
    background-color:darkmagenta;
    width: 100%;
    padding: 5px;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
    

h4{
    margin-left: 20px;
    color: black;
}

h4 a{
    color: whitesmoke;
    text-decoration: none;
}

.redes-sociales{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    margin: 0px 20px;
}

#github{
    margin-left: 10px;
}


/*Prueba*/
#prueba{
    background-color: purple;
}

/*-- Estilo general de las tarjetas --*/
.card-container{
    background-color: steelblue;
    border-radius: 5px;
    position: relative;
    /* transform:rotateY(0deg);
    transition: 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    margin: 10px; */
}

/*-- Clase .active para que se active al click con JS --*/
.card-container{

    

}
.front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
}

.back-card{
    transform:rotateY(180deg);
    transition: 0.5s;
    transform-style: preserve-3d;
}

.back-card.active{
    transform:rotateY(180deg);
}
