*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(IMG/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    }

.flexContainer{
    width: 100%;
    margin: auto;
    /*Flex*/
    display: flex;
    flex-flow: wrap row;
}

header{
    background-color:rgb(31, 46, 73);
    opacity: 85%;
    width: 100%;
    /*height: 100px;*/
    /*Flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
}

header .logo{
    padding-left: 25px;
    padding-top: 5px;
    flex: 1 1 10%;
}

header h1{
    color:whitesmoke;
    font-weight: bold;
    font-size: 35px;
    padding-right: 15%;
    text-align:center;
    flex: 1 1 70%;
}


/*<nav class = "navMenu">*/
.navMenu{
    width: 100%;
    /*Flex*/
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

/*<a href="#" class = "navLink">*/
.navLink, .navLink1{
    background-color:darkmagenta;
    opacity: 80%;
    color: snow;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-align:center;
    /*Flex*/
    flex-grow: 1;
}

.navLink:hover, .navLink1:hover{
    background-color:plum;
    color: black;
    text-transform:uppercase;
    transition: 0.5s;
}

/*arreglo listas Gis*/
.navSortBy{
    background-color:plum;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding-right: 7px;
    display:flex;
    flex-flow: column wrap;
}

.navSortBy a{
    background-color: darkmagenta;
    color: whitesmoke;
    text-decoration: none;
    padding: 1px 5px;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 5px 10px;
    width: 90%;
}

.navSortBy a:hover{
    background-color:rgb(31, 46, 73);
    color:whitesmoke;
    transition: 0.5s;
}

/* .navSort */
.navSort{
    display: none;
    width: 80%;
    margin-left: 15px;
    list-style: none;
}

.navSortBy:hover > ul{
    display: block;
    transition: 0.5s;
}



main{
    width: 100%;
    /*Flex*/
    display: flex;
}

/*<section class="posters">*/
.posters{
    padding-top: 4.5px;
    /*Flex*/
    display: flex;
    flex: 1 1 80%;
    justify-content: space-around;
    flex-flow: row wrap;
}

.posters h5{
    text-align: center;
    font-weight: bold;

}

aside{
    background-color: rgb(31, 46, 73);
    opacity: 85%;
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 10px;
    /*flex*/
    flex: 1 1 20%;
}

h3{
    text-align: center;
    background-color:darkmagenta;
    border-radius: 5px;
    padding: 1px 5px;
}

aside p{
    text-align: justify;
}

aside p a{
    text-decoration: none;
    color:palevioletred;
}

aside p a:hover{
    color:deeppink;
}



footer{
    background-color:darkmagenta;
    opacity: 70%;
    width: 100%;
    padding: 5px;
    /*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
    

h4{
    margin-left: 20px;
    color: black;
}

h4 a{
    color: whitesmoke;
    text-decoration: none;
}

.redesSociales{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    margin: 0px 20px;
}

#github{
    margin-left: 10px;
}



/*-- Estilo general de las tarjetas --*/
.cardContainer{
    /*ajustar despues al tamaño del poster*/
    width: 250px;
    height: 380px; 
    padding: 10px;
    padding-left: 12px; 
    margin-bottom: 10px;
    background: linear-gradient(45deg, darkmagenta, lightblue);
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 1s;
    align-items: center;
    
}

/*-- Clase .active para que se active al click con JS --*/
.cardContainer.active{
    transform:rotateY(180deg);
}

.frontCard, .backCard{
    background-color:lightpink;
    position: absolute;
    backface-visibility: hidden;
    width: 90%;
    height: 94%;
    /*padding-left: 12px;*/
    border-radius: 5px;
    /*flex*/
    display: flex;
    flex-flow: column nowrap;
}

.backCard{
    transform:rotateY(180deg);
    transition: 0.8s;
    transform-style: preserve-3d;
}

/*estilos año de lanzamiento pelicula*/
.frontCard p{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/*estilos de la imagen del poster*/
IMG{
    border-radius: 5px;
    margin-bottom: 10px;
    /*margin-top: 5px;*/
}

.backCard h5{
    margin-top: 10px;
}

/*estilos contenedor descripcion de la pelicula*/
.resume{
    text-align: center;
    font-size: 11px;
    padding: 8px;
    margin: 5px;
    color:black;
    border-radius: 5px;
    border-style:double;
    border-color: darkmagenta;
    height: 60%;
    overflow:auto;
}

/*estilos h6 traidos de data de la pelicula*/
h6{
    text-align: justify;
    font-size: 12px;
    color:black;
}

/*estilos h7 titulos de la data*/
h7{
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    color: darkmagenta;
}

/*estilos contenedor director de la pelicula*/
.director{
    text-align: justify;
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    color:black;
    border-radius: 5px;
    border-style:dotted;
    border-color: darkmagenta;
    /*flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*estilos contenedor productor de la pelicula*/
.productor{
    text-align: justify;
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    color:black;
    border-radius: 5px;
    border-style:dotted;
    border-color: darkmagenta;
    /*flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*estilos contenedor personajes de la pelicula*/
.characters{
    text-align: justify;
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    color:black;
    border-radius: 5px;
    border-style:dotted;
    border-color: darkmagenta;
    /*flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.containerFilmFilter{
    background-color:rgb(31, 46, 73);
    opacity: 80%;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    padding: 1px 1px 5px 1px;
    display:flex;
    flex-flow: column wrap;
    display: none;
}


.buttonFilter{
    background-color: darkmagenta;
    color: whitesmoke;
    padding: 1px 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    /* display: none; */
    
}

.buttonFilter:hover{
    background-color:rgb(31, 46, 73);
    transition: 0.5s;
    cursor: pointer;
    text-transform:uppercase;
    
}


.buttonFilm{
    background-color:plum;
    color: whitesmoke;
    padding: 0px 5px;
    text-align: center;
    margin: 0px 5px 0px 10px;
    text-decoration:underline;
    border-radius: 5px;
    font-size: 12px;
    color: black;
    font-weight: bold;

}

.buttonFilm:hover{
    background-color:darkmagenta;
    transition: 0.5s;
    cursor: pointer;
    color: whitesmoke;
    text-transform:uppercase;

}

.frontCard img{
    width: 100%;
    height: 80%;
} 

/*estilos contenedor descripcion personaje*/
.resume1{
    text-align: center;
    font-size: 13px;
    padding: 30px;
    margin: 10px;
    color:black;
    border-radius: 5px;
    border-style:double;
    border-color: darkmagenta;
    height: 70%;
}

.resume1 p{
    text-align: center;
    font-size: 13px;
    padding: 8px;
    
}

.divMovieBack{
    text-align: justify;
    font-size: 15px;
    padding: 3px;
    margin: 5px;
    color:black;
    border-radius: 5px;
    border-style:dotted;
    border-color: darkmagenta;
    /*flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.stadistics{
    color:whitesmoke;
    padding: 10px;
    text-align: center;
}